/* GENERAL RULES */

.no-padding {
  padding: 0 !important;
}

strong {
  font-weight: 700;
}

.lead {
  font-size: 1.3rem;
  font-weight: 300;
}

/* MENU SECTION */
.navbar-toggler {
  border: none;
}

.navbar-collapse .nav-item, .navbar-brand{
  padding: 10px;
}

.navbar-collapse .search-button {
  color: inherit;
  padding: 0 10px;
}

.navbar-collapse .search-button::before, .navbar-collapse .search-button::after{
  content: '|';
  display: inline-block;
  margin: 0 15px;
  font-size: 0.9em;
  color: #ccc;
}

header.header {
  border-bottom: 1px solid #ccc;
}

/* HERO SECTION */

section.hero {
  background-image: url(https://d19m59y37dris4.cloudfront.net/blog/1-2-1/img/hero.jpg);
  background-position: center center;
  background-size: cover;
  padding: 0;
  color: #fff;
}

section.hero .container {
  padding: 200px 20px;
  position: relative;
}

section.hero h1 {
  line-height: 1.2em;
}

a.hero-link {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  color: inherit !important;
  text-decoration: none;
}

section.hero .continue {
  position: absolute;
  bottom: 30px;
  left: 20px;
  text-decoration: none !important;
  color: inherit !important;
  text-transform: uppercase;
  font-size: 0.75em;
  opacity: 0.8;
}

section.hero .continue i {
  margin-right: 5px;
}

section {
  padding: 100px 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}

.text-big {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.8em;
  color: #111;
}

html {
  scroll-behavior: smooth;
}

.no-padding-top {
  padding-top: 0 !important;
}

@media (max-width: 767px) {
  section.hero .container {
    padding: 150px 20px;
  }
}

/* FEATURED POSTS SECTION */
section.featured-posts .row:nth-of-type(odd) .text {
  background: #fafafa;
}

@media (max-width: 991px) {
  section.featured-posts .text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

section.featured-posts .text-inner {
  padding: 70px 30px;
  height: 100%;
  transition: all 0.3s;
}

section.featured-posts .post-header {
  margin-bottom: 10px;
}

section.featured-posts a {
  color: inherit;
  text-decoration: none;
}

.category a {
  letter-spacing: 0.08em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  color: inherit;
  text-decoration: none;
}

section.featured-posts h2 {
  line-height: 1.1em;
  color: #333;
  transition: all 0.3s;
}

section.featured-posts p {
  font-weight: 400;
  color: #777;
  font-size: 0.95em;
}

@media (max-width: 575px) {
  section.featured-posts .post-footer {
    font-size: 0.9em;
  }
}

section.featured-posts .avatar {
  max-width: 40px;
  min-width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

section.featured-posts .title, section.featured-posts .date, section.featured-posts .comments {
  font-size: 0.8em;
  font-weight: 400;
  color: #999;
}

section.featured-posts .title::after, section.featured-posts .date::after, section.featured-posts .comments::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
}

section.featured-posts .image{
  max-height: 200px;
  width: auto;
  overflow: hidden;
  padding: 0;
}

section.featured-posts .image img{
  height: 100%;
}

@media (max-width: 991px) {
  section.featured-posts .image{
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    max-height: 300px;
    min-height: auto !important;
  }

  section.featured-posts .image img {
    width: 100%;
    height: auto !important;
  }
}

/* DIVIDER SECTION */
section.divider {
  background: url("https://d19m59y37dris4.cloudfront.net/blog/1-2-1/img/divider-bg.jpg") center bottom / cover;
  color: #fff;
}

/* LATEST POSTS SECTION */
@media (max-width: 767px) {
  .post {
    margin-bottom: 40px;
  }
}

.post-meta {
  margin: 10px 0;
}

.post h3 {
  line-height: 1.1em;
  transition: all 0.3s;
  border-bottom: 1em;
  color: #333;
}

.post .title, .post .date, .post .comments, .post .views {
  font-weight: 400;
  color: #999;
  text-transform: capitalize;
}


/* NEWSLETTER SECTION */
section.newsletter .form-group {
  position: relative;
}

section.newsletter input {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  border: 1px solid #111;
  font-size: 1.1em;
  font-weight: 300;
}

section.newsletter .submit {
  height: 60px;
  padding: 0 30px;
  line-height: 60px;
  background: #111;
  border: 1px solid #111;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 575px) {
  section.newsletter input {
    font-size: 0.95em;
    width: 100%;
  }

  section.newsletter .submit {
    position: static;
    width: 100%;
    margin-top: 10px;
  }
}

/* GALLERY SECTION */
section.gallery .mix {
  padding: 0;
  max-height: 200px;
  overflow: hidden;
}

section.gallery .item {
  position: relative;
  width: 100%;
  height: 100%;
}

section.gallery a {
  outline: none;
  width: 100%;
  height: 100%;
}

section.gallery a img {
  min-height: 100%;
  width: 100%;
}

section.gallery .item:hover .overlay {
  opacity: 1;
}

section.gallery .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(153, 153, 153, 0.7);
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* FOOTER */

footer.main-footer {
  background: #0e0e0e;
  padding: 100px 0 0;
  color: #fff;
}

footer.main-footer .contact-details p {
  font-weight: 300;
  color: #fff;
  margin-bottom: 5px;
  font-size: 0.95em;
}

footer.main-footer .contact-details a {
  text-decoration: underline;
  margin-bottom: 0;
}

footer.main-footer a {
  color: inherit;
  font-weight: 300;
  margin-bottom: 7px;
}

footer.main-footer .social-menu {
  margin-top: 20px;
}

footer.main-footer ul {
  margin: 0 30px 0 0;
  padding: 0;
}

footer.main-footer .social-menu li {
  padding: 0 5px;
}

footer.main-footer .list-unstyled a {
  font-size: 0.95em;
}

footer.main-footer .latest-posts a {
  font-size: 0.95em;
  text-decoration: none;
}

@media (max-width: 767px) {
  footer.main-footer .latest-posts > a {
    width: 100%;
    margin-bottom: 20px;
  }

  .post {
    margin-bottom: 40px;
  }

  footer.main-footer div[class*="col-"] {
    margin-bottom: 40px;
  }

  footer.main-footer .copyrights div[class*="col-"] {
    margin-bottom: 20px;
    text-align: center !important;
  }

  footer.main-footer .copyrights div[class*="col-"]:last-of-type {
    margin-bottom: 0;
    text-align: center !important;
  }
}

footer.main-footer .latest-posts .image {
  max-width: 50px;
  padding: 4px;
  border: 2px solid #333;
  margin-right: 10px;
}

footer.main-footer .latest-posts strong {
  display: block;
}

.post .title, .post .date {
  font-weight: 400;
  color: #999;
  text-transform: capitalize;
}

footer.main-footer .latest-post .date {
  font-size: 0.85em;
  color: #aaa;
}

footer.main-footer .copyrights {
  background: #090909;
  margin-top: 100px;
  padding: 20px 0;
  font-size: 0.9em;
}

footer.main-footer .copyrights * {
  margin-bottom: 0
}

/* POST.HTML */
main.post {
  padding: 50px 0;
}

.fa-bookmark-o {
  opacity: 0;
  margin-left: 10px;
  color: #ccc;
  transition: opacity 0.25s ease-in-out;
}

.fa-bookmark-o:hover {
  opacity: 1;
}

.post-footer {
  margin-top: 25px;
}

.author .avatar {
  max-width: 40px;
  min-width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 20px;
}

div.post-footer .title, div.post-footer .date, div.post-footer .comments, div.post-footer .views {
  font-size: 0.8em;
  font-weight: 400;
  padding: 0px;
  color: #999;
}

div.post-footer .date::after, div.post-footer .views::after {
    content: '|';
    display: inline-block;
    margin: 0 10px;
    font-size: 0.9em;
    color: #ccc;
}

div.post-body {
  margin-top: 50px;
}

div.post-body p {
  margin-bottom: 30px;
}

blockquote.blockquote {
  font-size: 1.03em;
  line-height: 1.7em;
  border-color: #999;
  border: 1px solid #eee;
  border-left: 6px solid #eee;
  padding: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.blog-post .post-body p:not(.lead) {
  font-size: 1em;
  line-height: 1.7em;
  color: #555;
}

.post-tags {
  margin-top: 50px;
}

.post a {
  color: #999;
  text-decoration: none;
}

.post .post-tags .tag {
  color: #777;
  font-weight: 600;
  padding: 5px 25px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 50px;
  font-size: 0.75em;
  text-transform: uppercase;
  text-decoration: none;
}

.posts-nav {
  margin-top: 50px;
}

.posts-nav a {
  padding: 20px;
}

.blog-post .icon{
  min-width: 35px;
  max-width: 35px;
  height: 35px;
  line-height: 32px;
  border-radius: 50%;
  border: 1px solid #ddd;
  color: #aaa;
  font-size: 1.5em;
  text-align: center;
  transition: all 0.2s;
}

.blog-post .posts-nav .text {
  padding: 0 20px;
}

.blog-post .posts-nav .text .text-primary {
  color: #999 !important;
}

.blog-post .posts-nav .text h6 {
  color: #777;
}

.blog-post .posts-nav a {
  color: inherit;
  padding: 10px 20px;
  border: 1px solid #eee;
  margin-bottom: 15px;
}

/* POST COMMENTS */
.post-comments {
  margin-top: 50px;
}

.post-comments header {
  margin-bottom: 25px;
}

.post-comments .image {
  margin-right: 15px;
  max-width: 40px;
}

.post-comments .comment-body {
  margin-left: 55px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.blog-post .post-comments strong {
  display: block;
  color: #555;
}

.post-comments .date {
  font-size: 0.85em;
}

/* ADD COMMENT */
.blog-post .add-comment {
  margin-top: 50px;
}

.add-comment header {
  margin-bottom: 30px;
}

.add-comment input, .add-comment textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  border-radius: 0;
  color: #eee;
}

.add-comment textarea {
  min-height: 150px;
}

.add-comment .btn {
  border-radius: 0;
  padding: 5px 15px;
}

/* WIDGETS */

.widget {
  padding: 20px;
  border: 1px solid #eee;
  margin: 40px 0;
}

/* SEARCH WIDGET */

.widget.search header{
  margin-bottom: 30px;
}

.widget.search .search-form input{
  border: none;
  width: 80%;
}

.widget.search .search-form .form-group {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

/* LATEST POSTS WIDGET */
.widget.latest-posts .image{
  max-width: 75px;
  margin-right: 15px;
}

.widget.latest-posts .item {
  margin-bottom: 20px;
}

.widget.latest-posts .title strong{
  color: #555;
}

.widget.latest-posts .views, .widget.latest-posts .comments {
  font-size: 0.8em;
  color: #bbb;
  font-weight: 400;
  margin-top: 10px;
}

.widget.latest-posts .views::after {
  content: '|';
  display: inline-block;
  margin: 0 7px;
  font-size: 0.9em;
  color: #ccc;
}

/* CATEGORIES WIDGET */
